---
layout: base
title: "Grading | Early Bird - Sprinkling, Landscaping, Grading, Hydroseeding"
name: grading
---

#content.grading
  #text
    %h1 Grading
    %ul
      %li Rough and Fine Grading by actual hours worked.
      %li Trained and experienced tractor operators to provide quality work with minimal billing hours.
      %li Tractor attachment specifically made for lawn seed bed preparation.
      %li Experienced hand labor to grade those areas not able to be worked by the tractor.

  #image
    %img{ :src => "/images/grading.jpg" }
  
  .clearfix
