---
layout: base
title: "Hydroseeding | Early Bird - Sprinkling, Landscaping, Grading, Hydroseeding"
name: hydroseeding
---

#content
  #text
    %h1 Hydroseeding
    %ul
      %li Proprietary seed mix with 95% Kentucky Bluegrass. (half the ryegrass as many of our competitors)
      %li Extensive training about care for your new lawn.
      %li Aggressive prices for all project sizes.

  #image
    %img{ :src => "/images/hydroseeding.jpg" }
  
  .clearfix
