---
layout: base
title: "Landscaping | Early Bird - Sprinkling, Landscaping, Grading, Hydroseeding"
name: landscaping
---

#content.landscaping
  #text
    %h1 Landscaping
    %ul
      %li Experienced professionals from project design to installation.
      %li Plan costs included in a full design and installation.
      %li Designs available for purchase for a modest fee for the Do-it Yourselfer.
      %li New Homes or Existing vegetation, we can do anything that you need done.
      %li No project too small or too large for us to handle.

  #image
    %img{ :src => "/images/landscaping.jpg" }
  
  .clearfix
