---
layout: base
title: "Lawn Maintenance | Early Bird - Sprinkling, Landscaping, Grading, Hydroseeding"
name: lawn-maintenance
---

#content
  #text
    %h1 Lawn Maintenance
    %ul
      %li Thousands of sprinklers installed in our 35 years in business.
      %li Well based sprinkler experts.
      %li Professional equipment used for a high quality installation.
      %li Competitive warranties.
      %li Fast response with any follow up concerns or adjustments.
      %li Laminated As-Built given as a permanent record of where sprinkler lines are run on the property.
      %li Do-It Yourself options available for reduced rates.

  #image
    %img{ :src => "/images/lawn-maintenance.jpg" }
  
  .clearfix
