---
layout: base
title: "Sprinkler Repair | Early Bird - Sprinkling, Landscaping, Grading, Hydroseeding"
name: sprinkler-repair
---

#content
  #text
    %h1 Sprinkler Repair
    %ul
      %li With 35 years experience there is no sprinkler problem we cannot fix.
      %li Reasonable hourly rates for services, with rate reductions for large repair projects.
      %li Full Service Sprinkler Winterization and Spring Turn-on.
      %li Fast Response to urgent problems.
      %li After hour Emergency calls available.

  #image
    %img{ :src => "/images/sprinkler-repair.jpg" }
  
  .clearfix
