<!doctype html>  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body {{ page.body }}>

  <div id="container">
    <header>
      <div id="logo"><a href="/"><img src="/images/earlybird-logo.jpg" title="Early Bird Landscaping" alt="Early Bird logo" /></a></div>
      <nav>
        <ul class="nav current-{{ page.name }}">
        	<li class="grading"><a href="/services/grading.html"><img src="/images/grading-menu.jpg"/>Grading</a></li>
        	<li class="topsoil"><a href="/services/topsoil.html"><img src="/images/topsoil-menu.jpg"/>Topsoil</a></li>
        	<li class="hydroseeding"><a href="/services/hydroseeding.html"><img src="/images/hydroseeding-menu.jpg"/>Hydroseeding</a></li>
        	<li class="sprinkler-systems"><a href="/services/sprinkler-systems.html"><img src="/images/sprinkler-systems-menu.jpg"/>Sprinkler Systems</a></li>
        	<li class="sprinkler-repair"><a href="/services/sprinkler-repair.html"><img src="/images/sprinkler-repair-menu.jpg"/>Sprinkler Repair</a></li>
        	<li class="landscaping"><a href="/services/landscaping.html"><img src="/images/landscaping-menu.jpg"/>Landscaping</a></li>
        	<li class="lawn-maintenance"><a href="/services/lawn-maintenance.html"><img src="/images/lawn-maintenance-menu.jpg"/>Lawn Maintenance</a></li>
        </ul>
      </nav>
    </header>
    
    <div id="main">

      {{ content }}

      <div class="clearfix"></div>

      <div id="cards">
      
        <div class="card left">
          <h2>Contact Info</h2>
          <ul class="no-bullets">
            <li>208 522 2262 (Idaho Falls, ID)</li>
            <li>208 359 1420 (Rexburg, ID)</li>
            <li>208 745 7625 (Rigby, ID)</li>
            <li>208 745 7125 (fax)</li>
          </ul>
        </div>
        
        <div class="card middle">
          <h2>Testimonials</h2>
          <p>I love Early Bird landscaping. They made my wildest dreams come true. Now I have a beautiful yard. -Neighbor next door</p>
        </div>
        
        <div class="card right">
          <h2>About Us</h2>
          <p>Early Bird has been providing Quality Sprinkling, Landscaping, Grading, and Hydroseeding Services for over 35 Years!</p>
          <p><a href="/about.html">Read more…</a></p>
        </div>
        
      </div>
    </div>
    
    <footer>
      <div id="copyright">&copy; 2011 Early Bird Landscaping</div>
    </footer>
    
  </div> <!-- end of #container -->  

  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>
